<div class = "ui menu">
  <%= link_to "courses", courses_path, class: "item" %>
  <%= link_to "add course", new_course_path, class: "item" %>
  <%= link_to "users", users_path, class: "item" %>
  <%= link_to "add user", new_user_path, class: "item" %>
</div>